spring:
  application:
    name: shopping-cart
  config:
    import: "configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        serviceId: config-server
      fail-fast: true
      retry:
        max-attempts: 6
        max-interval: 5000
        initial-interval: 1000
        multiplier: 1.5

eureka:
  client:
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/

