spring:
  application:
    name: analyzer
  datasource:
    url: jdbc:postgresql://localhost:5433/analyzer
    username: analyzer
    password: analyzer
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  kafka:
    bootstrap-servers: localhost:9092
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

analyzer:
  kafka:
    topics:
      snapshots: telemetry.snapshots.v1
      hubs: telemetry.hubs.v1
    consumer:
      snapshots-group-id: analyzer-snapshots
      hubs-group-id: analyzer-hubs
      poll-timeout-ms: 500

grpc:
  client:
    hub-router:
      address: static://localhost:59090
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext

logging:
  level:
    ru.yandex.practicum.kafka.telemetry: INFO

