server:
  port: 0

spring:
  application:
    name: shopping-store
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:shopping-store;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: store
    password: store
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/

logging:
  level:
    ru.yandex.practicum.commerce.shoppingstore: INFO

